NEXT_PUBLIC_API_BASE_URL=https://api.shadowedgeai.com
NEXT_PUBLIC_STUDIO_IMAGE_EXECUTION_ENABLED=false
NEXT_PUBLIC_STUDIO_VIDEO_EXECUTION_ENABLED=false
NEXT_PUBLIC_STUDIO_GENERATION_ORCHESTRATOR_ENABLED=false
NEXT_PUBLIC_STUDIO_REMAKE_EXECUTION_ENABLED=false
NEXT_PUBLIC_STUDIO_VIDEO_EDIT_ENABLED=false
